.navIcon {
  width: 60px;
  height: 45px;
  position: absolute;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  right: 30px;
  margin-top: 15px;
}

.navIcon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #000000;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.navIcon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.navIcon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.navIcon span:nth-child(1),
.navIcon span:nth-child(2) {
  top: 0px;
}

.navIcon span:nth-child(3),
.navIcon span:nth-child(4) {
  top: 18px;
}

.navIcon span:nth-child(5),
.navIcon span:nth-child(6) {
  top: 36px;
}

.navIcon.open span:nth-child(1),
.navIcon.open span:nth-child(6) {
  transform: rotate(45deg);
}

.navIcon.open span:nth-child(2),
.navIcon.open span:nth-child(5) {
  transform: rotate(-45deg);
}

.navIcon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.navIcon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.navIcon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.navIcon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.navIcon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.navIcon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.grayColumn {
  height: 0px;
  background-color: rgb(229 231 235);
  top: 0px;
  width: 0%;
  opacity: 0;
  transition: all 2s ease;
}
.grayColumn.open {
  width: 100%;
  opacity: 1;
  height: 150px;
}

.sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background: red;
  left: 0;
  transition: 0.4s;
  transform: translateX(-100%);
}
.sidebar.active {
  transform: translateX(0);
}

.sidebar ul li {
  list-style: none;
  color: #fff;
  font-size: 14px;
  padding: 20px 24px;
}

.sidebar .toggle-button {
  position: absolute;
  top: 30px;
  left: 330px;
}
